node_modules
.git
.gitignore
.wrangler
.netlify
.output
.tanstack
.nitro
dist
*.log
.env
.env.*
!.env.example
.dev.vars
.DS_Store
.vscode
.idea
scripts/fonts
*.md
Dockerfile
docker-compose.yml
.dockerignore
